<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 align="center">About cyber square</h1> 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rem sequi omnis quisquam inventore totam libero a. Recusandae sint esse fugiat, mollitia eveniet in quibusdam illo repellendus ex sapiente perspiciatis.
    <BR></BR><a href="http://127.0.0.1:8000/">BACK</a>
</body>
</html>