<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center"> welcome cyber square</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque inventore maxime blanditiis, aperiam ratione distinctio adipisci amet mollitia ipsa laborum alias dolores enim repudiandae ex beatae sint fugit in ducimus?
    <BR></BR><BR></BR><BR></BR>
    <a href="http://127.0.0.1:5500/app2/templates/contacts.html">CONTACTS</a>
    <BR></BR>
    <a href="http://127.0.0.1:5500/app2/templates/about.html">ABOUT</a>
    
</body>
</html>